extends ../layout

block content
  .container.mt-4
    .row
      .col-md-12
        .d-flex.justify-content-between.align-items-center.mb-3
          h2 
            i.bi.bi-file-medical-fill.text-primary.me-2
            | Listado de Altas Médicas
          a(href='/')
            button.btn.btn-secondary
              i.bi.bi-house.me-1
              | Inicio

    .row
      .col-md-12
        .card
          .card-header.bg-primary.text-white
            i.bi.bi-table.me-2
            strong Total de Altas: #{altas.length}
          .card-body
            if altas.length === 0
              .alert.alert-info
                i.bi.bi-info-circle.me-2
                | No hay altas registradas

            else
              .table-responsive
                table.table.table-hover.table-striped
                  thead.table-dark
                    tr
                      th #
                      th Fecha Alta
                      th Paciente
                      th Tipo Alta
                      th Duración
                      th Médico
                      th Acciones
                  tbody
                    each alta, index in altas
                      tr
                        td= index + 1
                        td= new Date(alta.fecha_alta).toLocaleDateString('es-AR')
                        td
                          if alta.internacion.PacienteSeguro.isDesconocido
                            span.badge.bg-warning.text-dark Paciente No Identificado
                          else
                            = alta.internacion.PacienteSeguro.paciente.persona.apellido + ', ' + alta.internacion.PacienteSeguro.paciente.persona.nombre
                        td
                          if alta.tipo_alta === 'Medica'
                            span.badge.bg-success Médica
                          else if alta.tipo_alta === 'Voluntaria'
                            span.badge.bg-warning.text-dark Voluntaria
                          else if alta.tipo_alta === 'Defuncion'
                            span.badge.bg-dark Defunción
                          else if alta.tipo_alta === 'Traslado'
                            span.badge.bg-info Traslado
                        td 
                          = Math.ceil((new Date(alta.fecha_alta) - new Date(alta.internacion.fecha_internacion)) / (1000 * 60 * 60 * 24)) + ' días'
                        td= alta.medico.persona.apellido + ', ' + alta.medico.persona.nombre
                        td
                          a(href=`/alta/details/${alta.id_internacion}`)
                            button.btn.btn-sm.btn-primary
                              i.bi.bi-eye.me-1
                              | Ver Detalles

    .row.mt-3
      .col-md-12
        .card.bg-light
          .card-body
            .row
              .col-md-3.text-center
                h4.text-success= altas.filter(a => a.tipo_alta === 'Medica').length
                small Altas Médicas
              .col-md-3.text-center
                h4.text-warning= altas.filter(a => a.tipo_alta === 'Voluntaria').length
                small Altas Voluntarias
              .col-md-3.text-center
                h4.text-dark= altas.filter(a => a.tipo_alta === 'Defuncion').length
                small Defunciones
              .col-md-3.text-center
                h4.text-info= altas.filter(a => a.tipo_alta === 'Traslado').length  
                small Traslados
